<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Prediction</title>
    <link rel="shortcut icon" href="images/logo/logo.webp" />
    <link rel="stylesheet" href="css/fuelPrediction.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <script src="bower_components/AlertifyJS/build/alertify.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>

    <script src="js/postFuelData.js" type="text/javascript"></script>
    <script src="js/fuelTabSwitch.js" type="text/javascript"></script>
</head>
<body>
  <div class="setting" style="width: 100%; text-align: left;">
    <div class="dropdown">
      <button class="btn">
        <i class="fa fa-cog" aria-hidden="true" style="font-size: 20px;"></i>
      </button>
      <div class="dropdown-options">
        <a href="http://localhost:8017/profile_updated" style="color: black; text-decoration: none;">Update Profile</a>
        <hr>
        <a href="/logout" style="color: black; text-decoration: none;">Logout</a>
      </div>
    </div>
  </div>
  
    <div class="button-container">
        <button class="nav-button" onclick="openTab(event, 'Form')">Fuel Quote Form</button>
        <button class="nav-button" onclick="openTab(event, 'History')">Fuel Quote History</button>
      </div>
      

<div id="Form" class="tabcontent" style="display:block">
  <div id="quote-form">
      <form>
        <label for="gallons">Gallons Requested:</label>
        <input type="number" id="gallons" name="gallons" placeholder="positive numbers only (> 0)"  min="0" required>
  
        <label for="delivery_address">Delivery Address:</label>
        <input type="text" id="delivery_address" name="delivery_address" placeholder="address, city, state, zipcode" value="" required >
  
        <label for="delivery_date">Delivery Date:</label>   
        <input type="date" id="delivery_date" name="delivery_date" pattern="\d{2}/\d{2}/\d{4}" placeholder="MM/DD/YYYY" required>
  
        <label for="suggested_price">Suggested Price / Gallon:</label>
        <input type="number" id="suggested_price" name="suggested_price" readonly value="">

        <label for="total_due">Total Amount Due:</label>
        <input type="number" id="total_due" name="total_due" readonly>

        <button style="margin: 2px 0px 2px 0px" type="button" id="clear_quote">Clear Quote</button>
        <button style="margin: 2px 0px 2px 0px" id="get_quote" type="button" disabled>Get Quote</button>
        <button style="margin: 2px 0px 2px 0px" id="submit_quote" type="button" disabled>Submit Quote</button>
      </form>
  </div>
</div>

      
<div id="History" class="tabcontent">
  <table>
    <thead>
      <tr>
        <th>Gallons</th>
        <th>Delivery Address</th>
        <th>Delivery Date</th>
        <th>Price / Gallon</th>
        <th>Total Due</th>
      </tr>
    </thead>
    <tbody>
      <% userInput.forEach(function(data){ %>
        <tr>
            <td><%= data.gallons %></td>
            <td><%= data.delivery_address %></td>
            <td><%= data.delivery_date %></td>
            <td><%= data.suggested_price %></td>
            <td><%= data.total_amount_due %></td>
        </tr>
    <% }); %>
    </tbody>
  </table> 
</div>
      

</body>
</html>

